@page "/counter"
@using Models;

<h1>Counter</h1>

<EditForm Model="@Model">
    <div class="form-group">
        <label>Increment By</label>
        <InputNumber Class="form-control" @bind-Value="Model.IncrementAmount" />
    </div>
</EditForm>

<button class="btn btn-primary" @onclick="@IncrementCount">Increment</button>

<hr />

<p>Current count: @currentCount</p>

@functions {
    int currentCount = 0;
    CounterModel Model = new CounterModel
    {
        IncrementAmount = 1
    };

    void IncrementCount()
    {
        currentCount += Model.IncrementAmount;
    }
}
