@page "/"
@inject IJSRuntime JsRuntime;
@inject BlazorSampleApp.UI.Services.ScrollService ScrollService;
@using Microsoft.JSInterop;
@using System.Drawing;
@implements IDisposable;

<h1>Hello, world!</h1>

Welcome to your new app.

<div style="position:sticky;top:0;">Scroll Position: <text>{</text>@ScrollPosition.X, @ScrollPosition.Y<text>}</text></div>
<div style="height: 200vh;background-color: #FFF"></div>

@functions {
    public Point ScrollPosition = new Point(0, 0);
    private int subscriptionId = 0;

    protected override async Task OnInitAsync()
    {
        subscriptionId = await JsRuntime.InvokeAsync<int>("dotnetHelper.subscribe", new DotNetObjectRef(ScrollService), "SetScrollPosition", "(handler) => document.addEventListener('scroll', handler)", "handler => document.removeEventListener('scroll', handler)", "e => [document.documentElement.scrollLeft, document.documentElement.scrollTop]");

        ScrollService.Scrolled += newPosition => {
            ScrollPosition = newPosition;
            StateHasChanged();
        };
    }

    public void Dispose()
    {
        JsRuntime.InvokeAsync<object>("dotnetHelper.unsubscribe", subscriptionId);
    }
}