@page "/"
@inject IJSRuntime JsRuntime;
@inject BlazorSampleApp.Services.ScrollService ScrollService;
@using Microsoft.JSInterop;
@using System.Drawing;

<h1>Hello, world!</h1>

Welcome to your new app.

<div style="position: fixed;">Scroll Position: @ScrollX, @ScrollY</div>
<div style="height: 200vh;background-color: #FFF"></div>

@functions {
    public int ScrollX = 0;
    public int ScrollY = 0;

    protected override async Task OnInitAsync()
    {
        await JsRuntime.InvokeAsync<object>("scrollManager.setup", new DotNetObjectRef(ScrollService));

        ScrollService.Scrolled += newPosition => {
            ScrollX = newPosition.X;
            ScrollY = newPosition.Y;
            StateHasChanged();
        };
    }
}