@page "/"
@inject IJSRuntime JsRuntime;
@inject BlazorSampleApp.Services.ScrollService ScrollService;
@using Microsoft.JSInterop;
@using System.Drawing;

<h1>Hello, world!</h1>

Welcome to your new app.

<div style="position: fixed;">Scroll Position: <text>{</text>@ScrollPosition.X, @ScrollPosition.Y<text>}</text></div>
<div style="height: 200vh;background-color: #FFF"></div>

@functions {
    public Point ScrollPosition = new Point(0, 0);

    protected override async Task OnInitAsync()
    {
        await JsRuntime.InvokeAsync<object>("scrollManager.setup", new DotNetObjectRef(ScrollService));

        ScrollService.Scrolled += newPosition => {
            ScrollPosition = newPosition;
            StateHasChanged();
        };
    }
}